body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    height: 62px;
    background: #075CB5;
}

.logo-text {
    font-family: PT_SansBoldItalic;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block-container-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.card-img-top {
    height: 140px;
    background-color: grey;
}

@font-face {
    font-family: "PT_SansBoldItalic"; 
    src: url("../fonts/PT_Sans/PTSans-BoldItalic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}